version: 2.1
orbs:
  r-packages: displayr/r-packages@dev:0f57d47fa15fc2089d422f12a85315ab93d4c975
parameters:
  trigger-message:
    type: string
    default: ""
  remote-deps:
    type: string
    default: ""
  plugins-branch:
    type: string
    default: ""
  triggered-packages:
    type: string
    default: ""
  executor:
    type: enum
    enum: [nightly, rocker, machine]
    default: nightly

workflows:
  build-and-check-R-package:
    jobs:
      - r-packages/build-and-check-package:
          executor: << pipeline.parameters.executor >>
          resource-class: large
          name: BuildAndCheckPackage
          context:
            - r_packages
          remote-deps: << pipeline.parameters.remote-deps >>
          separate-test-job: true
      - r-packages/test-package:
          executor: << pipeline.parameters.executor >>
          resource-class: large
          name: TestPackage
          requires:
            - BuildAndCheckPackage
          context:
            - r_packages
      - r-packages/deploy-package:
          executor: << pipeline.parameters.executor >>
          resource-class: small
          requires:
            - TestPackage
          context:
            - r_packages
          filters:
            branches:
              only:
                - master
      - r-packages/trigger-revdeps:
          executor: << pipeline.parameters.executor >>
          resource-class: small
          requires:
            - TestPackage
          context:
            - r_packages
          remote-deps: << pipeline.parameters.remote-deps >>
          plugins-branch: << pipeline.parameters.plugins-branch >>
          trigger-message: << pipeline.parameters.trigger-message >>
          triggered-packages: << pipeline.parameters.triggered-packages >>
